@import "compass";
@include global-reset;

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.svg#icomoon') format('svg'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
	background: #de3339;
	font-family: 'Helvetica Neue', Arial, sans-serif;
	overflow-x: hidden;
}

a {
	color: #FFF;
	text-decoration: none;
}

.dim {
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .8);
	z-index: 20;
	display: block;
}

.welcome {
	width: 500px;
	height: auto;
	background: #EDEDED;
	@include border-radius(5px);
	@include box-shadow(2px 2px 5px rgba(0, 0, 0, .5));
	position: absolute;
	top: 200px;
	left: 50%;
	margin-left: -250px;
	z-index: 30;
	text-shadow: 1px 1px 0px #FFF;
	.close {
		width: 25px;
		height: 25px;
		background: #026f9f;
		border: 2px solid lighten(#026f9f, 10%);
		position: absolute;
		top: -10px;
		right: -10px;
		cursor: pointer;
		@include border-radius(15px);
		@include box-shadow(1px 1px 3px rgba(0, 0, 0, .3), inset 1px 1px 3px rgba(0, 0, 0, .3));
		color: #EDEDED;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, .4);
		text-align: center;
		line-height: 22px;
		&:hover {
			background: #de3339;
			border: 2px solid lighten(#de3339, 10%);
		}
	}
	h2 {
		font-size: 16px;
		font-weight: bold;
		color: #222;
		line-height: 22px;
		padding: 20px 20px 0px 20px;
	}
	p {
		padding: 20px;
		font-size: 14px;
		line-height: 18px;
		color: #444;
		padding-top: 10px;
	}
}

h1 {
	width: 100%;
	font-family: 'Hammersmith One', sans-serif;
	position: absolute;
	top: 70px;
	left: 0;
	color: #FFF;
	text-transform: uppercase;
	font-size: 50px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, .4);
	letter-spacing: -1px;
	z-index: 10;
	position: relative;
	text-align: center;
	&:before {
		top: -20px;
	}
	&:after {
		bottom: -17px;
	}
	.stars {
		width: 528px;
		height: 20px;
		position: absolute;
		top: -15px;
		left: 50%;
		margin-left: -264px;
		font-family: 'icomoon';
		font-style: normal;
		speak: none;
		font-weight: normal;
		letter-spacing: 0px;
		-webkit-font-smoothing: antialiased;
		font-size: 13px;
		text-align: center;
		.star {
			width: 14px;
			height: 14px;
			float: left;
			margin: 0px 5px;
		}
		&:first-child {
			top: 48px;
		}
	}
}

section {
	height: 100%;
	min-height: 775px;
	top: 0px;
	position: absolute;
	overflow: hidden;
}

section#obama {
	left: 0px;
	right: 50%;
	background: #026f9f;
	border-right: 1px solid #f1f1f1;
	z-index: 1;
	@include box-shadow(1px 0px 10px rgba(0, 0, 0, .5));
	.profile .image {
		background-image: url(../images/obama.jpg);
	}

}
section#romney {
	right: 0px;
	left: 50%;
	background: #de3339;
	.profile .image {
		background-image: url(../images/romney.jpg);
	}
}

.profile {
	width: 100%;
	margin-top: 200px;
	text-align: center;
	position: relative;
	.image {
		width: 200px;
		height: 200px;
		border: 7px solid #f1f1f1;
		margin: 0px auto;
		background-size: cover;
		background-position: center center;
		@include border-radius(107px);
		@include box-shadow(1px 1px 3px rgba(0, 0, 0, .5), inset 1px 1px 3px rgba(0, 0, 0, .5));
	}
	h2 {
		font-size: 28px;
		font-weight: bold;
		color: #f1f1f1;
		text-shadow: 1px 1px 2px rgba(0, 0, 0, .4);
		margin-top: 20px;
	}
	.check {
		width: 30px;
		height: 30px;
		border: 3px solid rgba(255, 255, 255, .5);
		@include border-radius(20px);
		@include box-shadow(1px 1px 2px rgba(0, 0, 0, .3), inset 1px 1px 2px rgba(0, 0, 0, .3));
		position: absolute;
		top: 280px;
		left: 50%;
		margin-left: -18px;
		cursor: pointer;
		z-index: 1;
		&:hover {
			border: 3px solid rgba(255, 255, 255, .8);
		}
		&:after {
			content: "\21";
			font-family: 'icomoon';
			font-style: normal;
			speak: none;
			font-weight: normal;
			-webkit-font-smoothing: antialiased;
			font-size: 19px;
			line-height: 31px;
			color: rgba(255, 255, 255, .4);
			text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
			text-align: center;
		}
		&.active {
			&:after {
				color: #FFF;
			}
			border: 3px solid #fff;
		}
	}
	.vote {
		width: 80px;
		height: 36px;
		background: #eee;
		@include border-radius(3px);
		position: absolute;
		top: 280px;
		left: 50%;
		margin-left: -60px;
		z-index: 0;
		font-size: 13px;
		font-weight: bold;
		text-shadow: 1px 1px 0px #FFF;
		line-height: 36px;
		@include opacity(0);
		cursor: pointer;
		color: #999;
		@include box-shadow(1px 1px 2px rgba(0, 0, 0, .3));
		text-indent: 10px;
		&.disabled {
			color: #999 !important;
			cursor: default;
		}
		&:after {
			content: "\29";
			font-family: 'icomoon';
			font-style: normal;
			speak: none;
			font-weight: normal;
			font-size: 21px;
			position: absolute;
			top: 0px;
			left: 7px;
			text-indent: 0px;
			-webkit-font-smoothing: antialiased;
		}
	}
	.share-btns {
		width: 150px;
		height: 50px;
		margin: 20px auto;
		position: relative;
		opacity: 0;
		display: none;
		div {
			width: 40px;
			height: 40px;
			background: #EEE;
			float: left;
			margin: 0px 5px;
			cursor: pointer;
			@include border-radius(5px);
			@include box-shadow(1px 1px 3px rgba(0, 0, 0, .5));
			&:after {
				font-family: 'icomoon';
				font-style: normal;
				speak: none;
				font-weight: normal;
				font-size: 22px;
				color: #555;
				text-shadow: 1px 1px 0px #FFF;
				text-align: center;
				line-height: 40px;
			}
			&.fb:after {
				content: "\29";
			}
			&.twitter:after {
				content: "\2a";
			}
			&.gplus:after {
				content: "\2b";
			}
		}
		// &:after {
		// 	content: "Share your vote";
		// 	position: absolute;
		// 	top: -20px;
		// 	left: 5px;
		// 	width: 290px;
		// 	text-align: left;
		// 	font-size: 13px;
		// 	color: #FFF;
		// 	font-weight: bold;
		// 	text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
		// }
	}
}

.ad {
	position: absolute;
	top: 630px;
	left: 50%;
	margin-left: -369px;
	margin-bottom: 50px;
	width: 738px;
	height: 100px;
	background: #f1f1f1;
	z-index: 999;
	@include border-radius(5px);
	@include box-shadow(1px 1px 3px rgba(0, 0, 0, .5));
	.content_big {
		width: 728px;
		height: 90px;
		margin: 5px;
	}
	.content_min {
		width: 320px;
		height: 50px;
		margin: 5px;
		display: none;
	}
	@media screen and (max-width: 748px) {
		width: 330px;
		height: 60px;
		margin-left: -165px;
		top: 670px;
		.content_min {
			display: block;
		}
		.content_big {
			display: none;
		}
	}
}

#obama .vote:hover {
	color: #026f9f;
}

#romney .vote:hover {
	color: #de3339;
}

#obama .share-btns div:hover:after {
	color: #026f9f;
}

#romney .share-btns div:hover:after {
	color: #de3339;
}

.count {
	background: rgba(255, 255, 255, .8);
	width: 30px;
	padding: 7px;
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	position: absolute;
	bottom: 50%;
	color: #444;
	z-index: 10;
	@include border-radius(3px);
	@include box-shadow(1px 1px 2px rgba(0, 0, 0, .4));
	&:after {
		content: "";
		width: 0;
		height: 0;
		border-top: 5px solid transparent;
		border-bottom: 5px solid transparent;
		position: absolute;
		top: 9px;
	}
}

#obama .count {
	margin-left: -55px;
	right: 10px;
	&:after {
		border-left: 5px solid rgba(255, 255, 255, .8);
		right: -5px;
		margin-left: -7px;
	}
}

#romney .count {
	margin-left: 10px;
	left: 0px;
	&:after {
		border-right:5px solid rgba(255, 255, 255, .8);
		left: 2px;
		margin-left: -7px;
	}
}

footer {
	width: 100%;
	height: 45px;
	position: absolute;
	top: 730px;
	left: 0px;
	text-shadow: 1px 1px 1px #000;
	z-index: 10;
	font-size: 12px;
	color: #FFF;
	a {
		font-weight: bold;
	}
	.created {
		line-height: 50px;
		margin-left: 15px;
	}
	.info, .time {
		margin-left: 10px;
		border-left: 1px solid rgba(255, 255, 255, .5);
		padding-left: 10px;
		&.time{
			display: none;
		}
	}
	.share {
		float: right;
		margin-top: 15px;
		margin-right: 0px;
		div, iframe {
			float: left;
			margin-right: 10px;
		}
		iframe {
			width: 87px !important;
		}
	}
}