.dim
.welcome

%h1
	Online Election 2012

%section#obama
	.count 50%
	.profile
		.image
		%h2 Barack Obama
		.check
		.vote Vote
%section#romney
	.count 50%
	.profile
		.image
		%h2 Mitt Romney
		.check
		.vote Vote

.ad
	.content_big
		= image_tag "http://www.theeca.com/files/chrome728x90.jpg"
	.content_min
		= image_tag "http://images.apple.com/itunesaffiliates/US/2006/10/24/BarackObama_468x60.jpg"