%section#obama
	.profile
		.image
		%h2 Barack Obama
		.check
%section#romney
	.profile
		.image
		%h2 Mitt Romney
		.check

.count.obama 50%
.count.romney 50%

.ad
	.content
		= image_tag "http://www.theeca.com/files/chrome728x90.jpg"