%h1
	Online Election 2012

%section#obama
	.count 50%
	.profile
		.image
		%h2 Barack Obama
		.check
		.vote Vote
%section#romney
	.count 50%
	.profile
		.image
		%h2 Mitt Romney
		.check
		.vote Vote

.ad
	.content
		= image_tag "http://www.theeca.com/files/chrome728x90.jpg"